<% @title = @active = "Hackers" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 panel">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 4em;">#</th>
            <th style="width: 14em;">Name</th>
            <th>Email</th>
            <th style="width: 6em;">Solved</th>
            <th style="width: 6em;">Submit</th>
          </tr>
        </thead>
        <tbody>
          <% @hackers.each_with_index do |hacker, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= link_to hacker.name, hacker_path(hacker), target: "_blank" %></td>
              <td><%= hacker.email %></td>
              <td><%= link_to @ac_cnt[hacker.id], solutions_path( hacker_id: hacker.id, result: "Accepted" ), target: "_blank" %></td>
              <td><%= link_to hacker.solutions.size, solutions_path( hacker_id: hacker.id ), target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>